apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: redpanda-0-data
  name: redpanda-0-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
