apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yaml -o k8s/
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    app: billing-service
  name: billing-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing-service
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yaml -o k8s/
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        app: billing-service
    spec:
      containers:
        - name: billing-service
          image: 0xt4i/billing-service:0.0.1
          ports:
            - containerPort: 3003
          envFrom:
            - configMapRef:
                name: env
            - secretRef:
                name: mysql-secret
      restartPolicy: Always

