apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: payment-db-data
  name: payment-db-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
